body
{
    margin:0;
    padding:0;
    
}

#navi{
    /*background-color: rgb(51, 51, 51);*/
    position:absolute;
    top:0px;
    width:100%;
    height:45px;
    line-height: 5px;
    backdrop-filter: saturate(180%) blur(20px);
}
ul{
    list-style-type: none;
    word-spacing:75px;
    
}
li{
    display:inline;
    line-height: 8px;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont;
    font-weight:280;
    font-size: 13.5px;
    
}
#shopnow{
    background-color: rgb(245, 245, 247);
    position: absolute;
    top:44px;
    height:42px;
    width:100%;
}
p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont;
    font-size: 14px;
    font-weight: 300;
}
/*img{
    width:100%;
}*/
#title{
    position: absolute;
    top:76px;
    width:50%;
    color:white;
    font-size: 56px;
    font-weight:480;
    left:348px;
}
#list{
    position:absolute;
    left:-56px;
    z-index: 2;
    bottom:40%;
    opacity:0.8;
}
#subtitle{
    position: absolute;
    top:176px;
    width:40%;
    color:white;
    font-size: 28px;
    font-weight:320;
    left:420px;
}
#sub2
{
    position: absolute;
    top:232px;
    width:40%;
    color:rgb(11, 128, 206);
    font-size: 19px;
    font-weight:320;
    left:586px;
    font-family: -apple-system, BlinkMacSystemFont;
}
#main
{
    background-image: url("test.jpeg");
    width:3008px;
    height:738px;
    /*background-size:3008px 738px;*/
    background-repeat:no-repeat;
    position: absolute;
    right:-815px;  
    z-index: -1;
    top:5px;
    transform:scale(0.783);
}
#tst
{
    z-index:2;
}
#apple
{
    width:42px;
    height:42px;
    position:relative;
    top:16px;
    left:20px;
}
#iphone
{
    background-image: url("iphone12.jpeg");
    width:3010px;
    height:624px;
    /*background-size:3008px 738px;*/
    background-repeat:no-repeat;
    position: absolute;
    right:-818px;  
    z-index: -1;
    top:657px;
    transform:scale(1.0);
}
#iph
{
    position: absolute;
    top:662px;
    width:50%;
    color:black;
    font-size: 56px;
    font-weight:480;
    left:348px;
}
#iph2{
    position: absolute;
    top:766px;
    width:40%;
    color:black;
    font-size: 27px;
    font-weight:320;
    left:412px;
}
#search
{
    width:18px;
    height:50px;
    position:relative;
    top:23px;
    right:-1120px;
    z-index: 2;
    transition: 0.3s;
}
#cart{
    width:42px;
    height:42px;
    position:relative;
    top:16px;
    right:-1100px;
}
#iph3{
    position: absolute;
    top:822px;
    width:40%;
    color:rgb(128, 125, 125);
    font-size: 17px;
    font-weight:320;
    left:412px;
}
#iph4
{
    position: absolute;
    top:862px;
    width:40%;
    color:rgb(11, 128, 206);
    font-size: 19px;
    font-weight:320;
    left:586px;
    font-family: -apple-system, BlinkMacSystemFont;
}
#navi
{
    position: fixed;
    z-index: 4;
    background-color: transparent;  
}
#blur
{
    position:absolute;
    top:0px;
    width:100%;
    height:45px;
    line-height: 5px;
    opacity:0.8;
    backdrop-filter: saturate(180%) blur(20px);
    background-color:black;
    z-index: 4;
}
#blur
{
    position: fixed;
}
.hov
{
    opacity: 0.8;
    transition: 0.3s;
}
.hov:hover{
    opacity: 1;
}
#imac{
    background-image: url("imac.jpeg");
    width:3010px;
    height:624px;
    /*background-size:3008px 738px;*/
    background-repeat:no-repeat;
    position: absolute;
    right:-820px;  
    z-index: -1;
    top:1260px;
    transform:scale(1);
}
#imc
{
    position: absolute;
    top:1282px;
    width:50%;
    color:black;
    font-size: 56px;
    font-weight:480;
    left:337px;
}
#imc2
{
    position: absolute;
    top:1380px;
    width:40%;
    color:black;
    font-size: 27px;
    font-weight:344;
    left:405px;
}
#imc3
{
    position: absolute;
    top:1436px;
    width:40%;
    color:rgb(14, 117, 185);
    font-size: 20px;
    font-weight:350;
    left:574px;
    font-family: -apple-system, BlinkMacSystemFont;
}